body, html {
  height: 100%;
  margin: 0;
}

/*parallax scrolling effect */
.bkgr-img {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*image specifications*/
.top-img {
  background-image: url("../images/tools.jpg");
  min-height: 100%;
}

.mdl-img {
  background-image: url("../images/planks.jpg");
  min-height: 100%;
}

.btm-img {
  background-image: url("../images/router.jpg");
  min-height: 100%;
}

.company-text {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 4em;
}

.company-name {
  background-color: #252422;
  color: white;
  width: auto;
  padding: 5px;
  border-radius: 50px;

}

.portfolio-text, .info-text, .contact-text {
  background-color: #252422;
  color: white;
  margin: 0;
}

.flex-container{
  display: inline-flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
  justify-content: center;
  padding: 0;
}

.flex-img{
  margin: 0;
  padding: 5px;
  border-radius: 0px 0px 50px 0px;
}

h2 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

p {
  margin: 0;
  padding: 20px;
}

ul {
  margin: inherit;
}

figure {
  margin: 0;
}

figcaption {
  background-color: #191919;
  text-align: center;
}

img {
  display: block;
}
